@import "foundation";

td.columns,
td.column,
th.columns,
th.column {
  padding-bottom: 0px;
}

.no-bg {
  background: transparent !important;
}

.bg-grey {
  background-color: $grey;
}

.custom-pb {
  padding-bottom: 10px !important;
}

.tiny-text {
  font-size: 12px;
  color: $grey;
}

.text-16px {
  font-size: 16px;
}

.text-h3 {
  color: #FFF;
  text-align: center;
  font-size: 16px;
  margin-bottom: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: bold;
}

.text-unremarkable {
  font-weight: normal;
  color: $darkly-dark-grey;
}

.basic-link {
  text-decoration: underline;
  color: $grey;
}

.main-sub-heading {
  color: $grey;
  text-transform: uppercase;
  margin: 0;
  font-size: 20px;
}

.main-heading {
  text-transform: uppercase;
  margin: 0;
  font-size: 22px;
  color: $grey;
}

.main-body-p {
  color: $grey;
  font-size: 15px;
}

.decorative-line {
  background: $grey;
  height: 2px;
}

.item-name {
  text-transform: uppercase;
  color: $accent;
}

.item-price {
  color: $grey;
}

table.button {
  margin-bottom: 0;
  table {
    td {
      padding: map-get($button-padding, default);
      a {
        padding: 0px;
      }
    }
  }
}

.name-text {
  color: $grey;
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}
.position-junior-text {
  color: $accent;
  margin: 0;
  font-size: 30px;
}

.span-accent {
  color: $accent;
  font-weight: bold;
}

.myPhoto {
  background-color: $accent;
}

.photo-languages, .photo-skills, .photo-hobbies, .icon-data, .icon-os {
  background-color: $accent;
}

.icon-data {
  height: 27px;
}

.icon-skills {
  background-color: $accent;
  background-image: url('https://lh3.googleusercontent.com/w5EMtVGaHYE4IoEKeAaRkikOaGIqcRjdT2pTm-T4Fwi27XjSs5WL2bQY-CoGixtp0MxJxQL5iIMklBEZlirdo5ZvXvKScy6K6KjnB1KJZtLFKtulMcaNpwOK0DQmaoILZ77rk1X5');
  background-repeat: no-repeat;
  background-position: 50px 150px; 

}

.data-text {
  color: #FFF;
  font-weight: bold;
  line-height: 29.5px;
}
.span-text-data {
  margin-bottom: 5px;
  margin-top: 5px;
}
.span-text-skills {
  display: inline-block;
  width: 30%;
}

.span-images-skills
{
  margin: 0 !important;
  padding: 0 !important;
}
.span-image-skills {
  display: inline-block;
  background-color: $accent;
  width: 40%;
  line-height: 12px;
  background-image: url('https://lh3.googleusercontent.com/w5EMtVGaHYE4IoEKeAaRkikOaGIqcRjdT2pTm-T4Fwi27XjSs5WL2bQY-CoGixtp0MxJxQL5iIMklBEZlirdo5ZvXvKScy6K6KjnB1KJZtLFKtulMcaNpwOK0DQmaoILZ77rk1X5');
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0px;
}

.img-skills {
  display: inline-block !important;
  height: 20px !important;
  margin-right: 2px;
  background-color: $accent;
}

.img-data {
  margin-right: 10px;
}

.icon-education {
  background-color: $accent;
  margin-top: 20px;
}

.img-love {
  display: inline-block !important;
  height: 10px !important;
  background-color: none;
}

@media only screen and (max-width: #{$global-breakpoint}) {
  .img-skills,{
    width: auto !important;
    height: 10px !important;
  }
  .img-love {
    height: 5px !important;
    width: auto !important;
  }
  .icon-education {
    max-width: 14px !important;
  }
  .br-skills {
    display: none;
  }
  .text-p-education {
    margin-bottom: 30px !important;
    // margin-top: 5px !important;
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 500px) {
  .text-p-education {
    margin-bottom: 15px !important;
    margin-top: 15px !important;
  }
}
@media only screen and (max-width: 375px) {
  .text-p-education {
    margin-bottom: 5px !important;
    margin-top: 5px !important;
  }
}

.text-p-education {
  margin-top: 20px;
  margin-bottom: 43px;
  font-size: 17px;
}

.text-basic-knowleges {
  line-height: 30px;
  margin-top: 10px;
}

.hr {
  margin: 12px auto;
}



