<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>

<body>
  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="15"></spacer>
          <container class="no-bg">
            <p class="text-right small-text-center">
              <a href="https://aswiz.github.io/cv/" class="tiny-text basic-link">View CV in your browser</a>
            </p>
          </container>
          <container>
            <row>
              <columns>
                <p class="name-text text-center">Oleg Gorbatiuk</p>
                <h1 class="position-junior-text text-center">Junior Front-end Developer</h1>
                <hr class="hr">
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns small="1" large="1"></columns>
              <columns small="10" large="5">
                <img class="myPhoto" src="https://lh6.googleusercontent.com/pcqxVuzCrtxDfclxmxixV8Yg7LGh9Ep-nibTJN3aJfh71RD3bvbLoJCjmwJbpcfESkG6uCO6d-Hq8l_t48mj_1QQWyCz0e-4wKjRBN7bJJo7FgtZv46vZhDIErzUDmp6II2BKd-7"
                  alt="My Photo">
              </columns>
              <columns small="2" large="1"></columns>
              <columns small="10" large="5">
                <p class="main-body-p text-bold span-text-data">
                  <img class="img-skills img-data" src="https://lh4.googleusercontent.com/BOtvmNWOR4FLE6aNVO0dlmmmx7EgNB4Mqj5EywTwCn99A88djHWDRwOC7cY2_s-k0Mra-cyNrFVfsAQH42ClolIipij40SWChtrKPZtBYNEBrHHcaPEIfAujP59qILZ9UGHUemsh"
                    alt="Happy Birthday">4 November 1999
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <a class="basic-link data-text" href="https://goo.gl/maps/VFDUADusXZx">
                    <img class="img-skills img-data" src="https://lh4.googleusercontent.com/86HgZ2uEQ-CXdy_Fx4JdSop3ZSLdPRAzUNXuMRJc8YpH2Ww54Y_gIXwFYwEcusKE7mwtQZYpRr5iHhTZs_cViL2S1VR2cxAjZpaOvg7EatT-jMnWzWrtLbhIdDcDnZnEpe4FXav6"
                      alt="Location">Lodz, Poland</a>
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <img class="img-skills img-data" src="https://lh6.googleusercontent.com/VMEyqgtrH3IXTKDRAH4v1WNeazeo_xhi0yt7kothJ0RwExsHMIW62EUytDemZqwHW_p6D4qh4iwyf4McI7NQxpbj28EEkYNk89z7gnEtG2I8JdSzLOXTzH52lN3oj39h1lq18ySm"
                    alt="Telephone">+48 578 201 846
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <a class="basic-link data-text" href="mailto:gorbatiuk.ol@gmail.com">
                    <img class="img-skills img-data" src="https://lh6.googleusercontent.com/Ndy-2IgKXYMA15_UAfFus_tXeKF4ALNc0nDKNo0cENErps1biFjcNfWGcHq_RbVUoHUjt_vRRn48myPYv6ak_jVQb0DmMXLE14zOs9lBq3h4VIRQrU5qY-u1MScYRRSCzbwj-tlU"
                      alt="Email">gorbatiuk.ol@gmail.com</a>
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <a class="basic-link data-text" href="https://t.me/Aswis">
                    <img class="img-skills img-data" src="https://lh3.googleusercontent.com/cf55CKOgKxSxaJaCoEvA9U5_NikvnFOWOvGdDTU2rJr3XwntCFpZ2fOP_RAY3T8BIE_IavFpa0J-RH1HcQAS1eF9bX7fycsglIuKnug7WO5vFsC4AbYDidJaqIiH3ESVn3MTDgdv"
                      alt="Telegram">@Aswis</a>
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <a class="basic-link data-text" href="https://github.com/Aswiz">
                    <img class="img-skills img-data" src="https://lh4.googleusercontent.com/iWNmU5RTjtiKINHZDJhVh3QC03RySPtW8SAdRA0GZQKyhCa-10WkhbuBlXuf5H_golYHAXgzTyk782AdwfwvLq9yq-TfxrAXewR0Ia3o7nd98Q9vnU2gIPjN8jgWlXaJEvYgPBlP"
                      alt="Github">Aswiz</a>
                </p>
                <p class="main-body-p text-bold span-text-data">
                  <a class="basic-link data-text" href="https://www.linkedin.com/in/oleg-gorbatiuk">
                    <img class="img-skills img-data" src="https://lh3.googleusercontent.com/9Gqxduf8ZyAPJvhKpjrMNHXIYn8lAUIK3hFjDAk7kj4CVY0hzLrqntw3g7YVt2akgyQenKtOKFif8zNh6SdpNwRpUSkUTRaqgqcL9QnauziUbSNc9Dbd8IGP-hqONoTgOlyWfoBy"
                      alt="Linkedin">oleg-gorbatiuk</a>
                </p>
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns>
                <h3 class="main-heading text-center">Profile</h3>
                <spacer size="10"></spacer>
                <p class="main-body-p">
                  Beginner
                  <span class="span-accent">Front-end</span> Developer looking for a Junior position in this direction.
                  <br>I am a student of the University of Computer Science and Skills in Lodz at the faculty of
                  <span class="span-accent">I</span>nformation
                  <span class="span-accent">T</span>echnology.
                  <br>I can create web page templates in
                  <span class="span-accent"></span>Photoshop and design them using
                  <span class="span-accent">HTML, CSS</span> and
                  <span class="span-accent">JavaScript.</span>
                  <br>I prefer
                  <span class="span-accent">Linux</span> as my main operating system, but I'm also an advanced
                  <span class="span-accent">Windows</span> user.
                  <br> Currently I am studying
                  <span class="span-accent">React / Redux</span> and
                  <span class="span-accent">Node.js.</span>
                </p>
                <hr class="hr">
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns>
                <h2 class="main-heading text-center">Skills</h2>
                <row class="collapse">
                  <columns large="8" small="12">
                    <h3 class="text-h3">Main</h3>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">JavaScript</span>
                      <img class="img-skills" src="https://lh4.googleusercontent.com/N1DzI86keUY5HdCbftk4nxxmpTNWfHpHd-0aUAIlFSUA4uVZDBJ4FlQf5V3hbgahQ07OhRU7VQbzrjk8gSeZgPRkm4-MbcuAhxtGUAOEUkRIsz6O0hpJYWrikNsqf5sZR7IjNTGW"
                        alt="Js 7/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">HTML5</span>
                      <img class="img-skills" src="https://lh5.googleusercontent.com/XghB7kFAr2LExMXxWuDsHC-Yb5tRAFzZNKbaBrL4xthJwOKoSE3Xaa6YJa9yU3gyE_CuevcvlhlSRI7mYv6wRwhNar5AwSE0a8sCoF4_1WGW_K9ZzoSF2T4VwAehQ5DJsDHcFkPq"
                        alt="HTML 6/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">CSS3</span>
                      <img class="img-skills" src="https://lh3.googleusercontent.com/P5mZOAHcQYb6KxQFPOOXRmJ0ofUXnODzY4ZDsbcweHwIUWNC2cdxpYn-GscexYtVgvfIlW3gcKvXE2PglrgjdKJy7xejOWOBCcZNfZFCE297FvAwhpTJq69ZjaUQ0PcH6-yWdAz_"
                        alt="CSS 6/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">Photoshop</span>
                      <img class="img-skills" src="https://lh6.googleusercontent.com/38Lubg46GOp9-w-fmG5KHe1aWYzwIfHAJu8AA7TcMmd8DVYku6-OSD00JaOIRb7AwuCiEwA9iAHesq1aNMVD7mGUpq3MA9uugFea_JOQVrA1xvEYyeRcReGckqbhHUB3vF_aDwDL"
                        alt="Photoshop 7/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">Git</span>
                      <img class="img-skills" src="https://lh6.googleusercontent.com/U2JYGMKsloXEZbOyXuu-rNmmM-4-YnfBm2fh0P9psWd7h-t8JILJXyxIZm9FTQYdi6DxPoyLbQvjRyXGf_6k7WqL2fqdtY5qZkDmaZ5X5AXwrVhRJgf-o5BBjbCw_-L_rLA7zPXp"
                        alt="Git 4/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">SQL</span>
                      <img class="img-skills" src="https://lh4.googleusercontent.com/FedtnKtXyHrv4NClRIX5FOTQ2ADiHKs5WnlaFpnBY9Cn2fvFpRjZKS9uNGinSnosfm5ff42sq8MQXm4EVokQb1VfRNr1hz0amvQtIEIAcGHfUrmTxSBUcGOZwOiwGm2Yfu5Ne2V7"
                        alt="SQL 4/10">
                    </p>
                    <p class="main-body-p text-bold">
                      <span class="span-text-skills">C++</span>
                      <img class="img-skills" src="https://lh6.googleusercontent.com/VAQ-fOcqUATrwmL2tEpPTBcPg-OrjjN9yTNyooLKoKiZUe-l4aamnTonoYzYQ78lCZAz-xAY1TdMTtpWBGDpGXLRGnLpUtI4KW_k6ED4-5dQIXfjL9SgNBitGKTRsxmp7Uyk7lnN"
                        alt="C++ 4/10">
                    </p>
                  </columns>
                  <columns large="4" small="12">
                    <h3 class="text-h3">Basic knowledge in</h3>
                    <p class="main-body-p text-bold text-basic-knowleges">
                      React, SASS, jQuery,
                      <br class="br-skills"> Gulp, npm, Babel, Inky,
                      <br class="br-skills"> BEM, Illustrator, Qt, OpenGL, SQL Server, Java</p>
                    <h3 class="text-h3">Operating systems</h3>
                    <row class="collapse">
                      <columns large="2" small="3"></columns>
                      <columns large="3" small="2">
                        <img class="icon-os" src="https://lh5.googleusercontent.com/eqJ9hqCL2HoJm35C8CX7gAOUr2J1MX1GVZtuKyrqpEN_ZEGO8jmnQjQxIXmcNV__KrEgLP_X9XHLLec2Jg38V7JAZefmpap8RgT5jCqpihDRv-uiB8zmmLrrizjG0oWjMMOeUEl4"
                          alt="Linux">
                      </columns>
                      <columns large="2" small="2"></columns>
                      <columns large="3" small="2">
                        <img class="icon-os" src="https://lh5.googleusercontent.com/5i8TsBtaURa3tBFoef7syHmt4eSQoEqZYln4eA3_JGqTrhUw7WB81qv7YjoqFh661YTPC8nUfH-OMtmNny9DYMD4pkZxhUcWWplrb5qSVKiiXzQd4coIBD0h7GJX53K3I6S2KLYn"
                          alt="Windows">
                      </columns>
                      <columns large="2" small="3"></columns>
                    </row>
                  </columns>
                </row>
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns>
                <hr class="hr">
                <h2 class="main-heading text-center">Education</h2>
              </columns>
            </row>
            <row>
              <columns small="1" large="1"></columns>
              <columns small="1" large="1">
                <img class="icon-education" src="https://lh4.googleusercontent.com/OguGcxwxlOIelNPrVINvdPya6rNgT8UJS7KA37nI9VlhmatmJlup97DGmBQ5Su6iKeVqqW_uHwW3jE_XJ_s9Y-763zAIMP1UJy8KXMd-JW9dIbZ3tKSTA61ihf-h9hnjJ8BDNGOW"
                  alt="Progress line">
              </columns>
              <columns small="9" large="10">
                <p class="main-body-p text-bold text-p-education">
                  <span class="span-accent">2017/2021</span> -
                  <span class="span-accent">I</span>nformation
                  <span class="span-accent">T</span>echnology
                  <br /> University of Computer Science and Skills in Lodz
                </p>
                <p class="main-body-p text-bold text-p-education">
                  <span class="text-unremarkable">2010/2017</span> -
                  <span class="span-accent">I</span>nformation
                  <span class="span-accent">T</span>echnology
                  <br /> Izmail Polytechnic Lyceum
                </p>
                <p class="main-body-p text-bold text-p-education">
                  <span class="text-unremarkable">2006/2010 - German Language and Literature</span>
                  <br /> Specialized comprehensive school №16
                </p>
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns>
                <hr class="hr">
                <h2 class="main-heading text-center">Languages</h2>
                <spacer size="10"></spacer>
                <img class="photo-languages" src="https://lh6.googleusercontent.com/Prxs4Lx3CZb_GpmSFQsOJ6JJByNJFrxt5O6z7O_TWPkcCels_FjNnuSQdcr19Q_wI8magGY1RFg9KOaKcFCXqWJQnXmNiQd49YWImwBr7Cge4g3610HweXRcdIDVpFBdnHJOQPmS"
                  alt="Languages: English, Polish, Russian, Ukrainian">
                <spacer size="10"></spacer>
                <hr class="hr">
              </columns>
            </row>
          </container>
          <container>
            <row>
              <columns>
                <h2 class="main-heading text-center">Hobbies & Interest</h2>
                <spacer size="10"></spacer>
                <img class="photo-hobbies" src="https://lh5.googleusercontent.com/PzLJmbN0LG3VOGiMEhi4VswSh-qkiEZNVPlwUPBVI1WB6J3B8McUbINov-Dkv8fBIKkOrL_9fgfK8njWhzFmGJGE4AbzbZFsqJgKEL9VLKlBuh5oCnCexDyD-Bv6sB6u9eDFNVix"
                  alt="Hobbies and Interest: Design, Photography, Games, Music, Photoshop, Lightroom, GameDev, Sport">
              </columns>
            </row>
          </container>
          <spacer size="10"></spacer>
          <container>
            <row>
              <columns>
                <p class="main-body-p text-center">
                  <span class="text-unremarkable">I hereby declare that all the facts and information provided for this cover letter and CV are true. I allow
                    my personal data stated in the abovementioned applications to be processed for the purpose of recruitment,
                    in accordance with the Personal Data Protection Act dated 29/08/1997 (Dz.Ust.No.133, item 883)</span>
                </p>
                <p class="main-body-p text-center">
                  made with
                  <img class="img-love" src="https://lh4.googleusercontent.com/XsoOs9NwnmokhfUfiKVLFt2WzKICvU6e9dhIQAY7MsjMckhBOKAz8LsXcKT-VdDqWsopXASW3gvDv_uGKUNWBc2xbZ7b1wFFotqQmTQlzo7jevLfCwvpfKN0bCydAO6O7j31Bz_a"
                    alt="love"> by
                  <a href="https://github.com/Aswiz" class="basic-link"> Oleg Gorbatiuk</a>
                </p>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr>
  </table>
</body>

</html>