<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <!-- The character set should be utf-8 -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <!-- Enables media queries -->
  <meta name="viewport" content="width=device-width" />
  <!-- Link to the email's CSS, which will be inlined into the email -->
  <link rel="stylesheet" href="../css/styles.css" inline>
</head>

<body>
  <table class="body">
    <tr>
      <td>
        <center>
          <spacer size="15"></spacer>
          <container class="no-bg">
            <row>
              <columns large="6" class="custom-pb">
                <p class="tiny-text small-text-center">!
                </p>
              </columns>
              <columns large="6" class="custom-pb">
                <p class="text-right small-text-center">
                  <a href="#!" class="tiny-text basic-link">View this email in your browser</a>
                </p>
              </columns>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <p class="name-text text-center">Oleg Gorbatiuk</p>
                <h1 class="position-junior-text text-center">Junior Front-end Developer</h1>
                <hr>
              </columns>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns small="6" large="6">
                <img class="myPhoto" src="https://lh5.googleusercontent.com/9dFKB7fZwuArFNVq7hU-XpNrxcjwQih2c1Il1MXwTwiKI9ePU3LkbEP9xsMT0LDMfdfa9DlMaoHUIvJYimJRfow418WKnX4DC4iml-0xiTUTn_j8jLt4FZkDSq8msZwv0LByFIlb"
                  alt="My Photo">
              </columns>
              <!-- Photo -->
              <columns small="1" large="1"></columns>
              <columns small="1" large="1">
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh3.googleusercontent.com/XucrslOUHTia47Tgbt80SOrkjN2ULS3Cdf96WImXPvGtAcypfWc5rknuoekfJEipUEl_EiFxrLX7UE5W6tpRFfsFdxngimEAFPmxYEhrd2KiTbiknDqYdmf5pQIgN_93WOraMTDU"
                    alt="Icon Happy Birthday">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh5.googleusercontent.com/X5z0ffHlP4wbp7BsrvhFxxxSfYf2s1Vow_QbxHu9ZZbDGePOBpA051P7CakE9LG2IrLC5m_SBK4wvzUass_p0GKzKvJDdy6ppjL27jbza4z0hHebIkarwBSXQw438B2H1XOvFqy5"
                    alt="Icon Location">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh4.googleusercontent.com/YmLrHAXO95gh-VpBCEOImIXtYTUdx7nyuwJtaiuGayQddIwSnhYaHagnJ-wPUHC639yHZT2cut-CaOtvWos8z4Tp9rzlsKwIsbvoBkStgtN0ukUh-oolHgeURLn-U--MtZjZDIUT"
                    alt="Icon telephone">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh4.googleusercontent.com/TCAhKHRcJPTMMdJQqntbEBukwyDeWCDCkhUjPSQKMh5DF0sZV45aa2Nmza63Q3rzav3uPO4GdgDkaQz3te1KopGap5TnaN1hNIf_OuiQRBHBXH9b_Ajoy-L4jNGTQK1O5FSmF3wN"
                    alt="Icon email">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh5.googleusercontent.com/-h_f64eJ-lMPsddpETnDYHKl4OoHXsnm178tHaJAPYHaBimGFxRXyOHIlEJGRzZpT-Ipk26r7Srx28V2qF9wP27jh81FBGq9O-_KRhnDkE3McYlwPr5uRRyubuFaQs6-9J7eg8tr"
                    alt="Icon Telegram">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh4.googleusercontent.com/RjJVMdVONZMNJVEbYmPwWrqfPoCifumpEz4jTwrMnnLySh_cACUoxYBmVVWoh2bie7cp70_CNIt0SC6hQQdsHq0H26av2_N-ztj2OjxgpECiL_fHZIPlKOs2ca6DTsMk-Bhvu-n-"
                    alt="Icon github">
                </p>
                <p class="main-body-p text-bold">
                  <img class="icon-data" src="https://lh3.googleusercontent.com/0zAzmVQgXNLIj6wBUA6Ri_HwiXxR-KXtLWJOUV0hyyJTh8NbWAC-J4Oy9xq2mp5RzmkCAVRlOnwH500DMqeDLz5Sq6QQt4dh0ShEWFas9hu2MWEW9iei3HEd2qEUG7yRmRrVkDWs"
                    alt="Icon linkedin">
                </p>
              </columns>
              <columns small="4" large="4">
                <p class="main-body-p text-bold">4 November 1999</p>
                <p class="main-body-p text-bold">
                  <a class="data-text" href="https://goo.gl/maps/VFDUADusXZx">Lodz, Poland</a>
                </p>
                <p class="main-body-p text-bold">+48 578 201 846</p>
                <p class="main-body-p text-bold">
                  <a class="data-text" href="mailto:gorbatiuk.ol@gmail.com">gorbatiuk.ol@gmail.com</a>
                </p>
                <p class="main-body-p text-bold">
                  <a class="data-text" href="https://t.me/Aswis">@Aswis</a>
                </p>
                <p class="main-body-p text-bold">
                  <a class="data-text" href="https://github.com/Aswiz">Aswiz</a>
                </p>
                <p class="main-body-p text-bold">
                  <a class="data-text" href="https://www.linkedin.com/in/oleg-gorbatiuk">oleg-gorbatiuk</a>
                </p>
              </columns>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <h3 class="main-heading text-center">Profile</h3>
                <spacer size="10"></spacer>
                <p class="main-body-p">Beginner
                  <span class="span-accent">Front-end Developer</span> seeking an internship in this direction.I am student of the University of Computer
                  Science and Skills in Lodz at the Faculty of Information Technology. I can make templates of webpages in
                  <span class="span-accent">Photoshop</span> and develop them using
                  <span class="span-accent">HTML, CSS</span> and
                  <span class="span-accent">JavaScript.</span> Also in myprojects I use
                  <span class="span-accent">SASS, jQuery,Gulp</span> and
                  <span class="span-accent">Git.</span> I use
                  <span class="span-accent">Linux</span> as my main operating system,but I'm also an Advanced
                  <span class="span-accent">Windows</span> user. I want to continue to learn web development tools and learn how totest my code.</p>
                <hr>
              </columns>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <h2 class="main-heading text-center">Skills</h2>
                <!-- <img src="https://pp.userapi.com/c831109/v831109738/142ced/Q7LnLxK0xBY.jpg" alt="My Skills"> -->
                <hr>
              </columns>
              <row class="collapse">
                  <columns large="6"><img src="https://placehold.it/300x150/777777/&text=These columns touch" alt=""></columns>
                  <columns large="6"><img src="https://placehold.it/300x150/999999/&text=These columns touch" alt=""></columns>
                </row>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <h2 class="main-heading text-center">Education</h2>
              </columns>
            </row>
            <row>
              <columns small="2" large="2">
                <p>!</p>
              </columns>
              <columns small="10" large="10">
                <p class="main-body-p text-bold">
                  <span class="span-accent">2017/2021</span> -
                  <span class="span-accent">I</span>nformation
                  <span class="span-accent">T</span>echnology
                  <br /> University of Computer Science and Skills in Lodz
                </p>
                <p class="main-body-p text-bold">
                  <span class="span-accent">2010/2017</span> -
                  <span class="span-accent">I</span>nformation
                  <span class="span-accent">T</span>echnology
                  <br /> Izmail Polytechnic Lyceum
                </p>
                <p class="main-body-p text-bold">
                  <span class="span-accent">2006/2010</span> -
                  <span class="text-unremarkable">German Language and Literature</span>
                  <br /> Specialized comprehensive school №16
                </p>
              </columns>
            </row>

          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <hr>
                <h2 class="main-heading text-center">Languages</h2>
                <spacer size="10"></spacer>
                <img class="photo-languages" src="https://lh4.googleusercontent.com/P9-nj6e4GIgJyyK0jWlSv8utIVU9pRMc1i6hB7Fz1jJkmVfe5YaQQeRSlELM_WNbfAtH95YPgy7_zGL6vZlO1trSr_IDGwBcok-zHSAD0qFsu_x7-eSxGGOcm_a7G1X3Wov88icJ"
                  alt="Languages">
                <spacer size="10"></spacer>
                <hr>
              </columns>
            </row>
          </container>
          <!-- container -->
          <container>
            <row>
              <columns>
                <h2 class="main-heading text-center">Hobbies & Interest</h2>
                <spacer size="10"></spacer>
                <img class="photo-hobbies" src="https://lh5.googleusercontent.com/CvBRbzlgx2rTPDzIrUjtyQw6ImfVhN57ea4zbrYptf7Krxgn-sXU6tw_4ixeaL-dGBPRyuskL65VxPyGDcpr_hGteKxyBsRLl7x5w7xQFqOjUv0No5qyesMtg-PCT23uHW2PC7lz"
                  alt="Hobbies and Interest">
              </columns>
            </row>
          </container>
          <!-- container -->
          <spacer size="10"></spacer>
          <container>
            <row>
              <columns>
                <p class="main-body-p text-center">
                  <span class="text-unremarkable">I hereby declare that all the facts and information provided for this cover letter and CV are true. I allow
                    my personal data stated in the abovementioned applications to be processed for the purpose of recruitment,
                    in accordance with the Personal Data Protection Act dated 29/08/1997 (Dz.Ust.No.133, item 883)</span>
                </p>
                <p class="main-body-p text-center">
                  made with
                  <img src="https://lh4.googleusercontent.com/UfARetAdQUt6CJD2FzJcvgpADMdemqhQYiVfVz0g0sKGyk7VM_IAqkV6F7XkFP-zBjIIKO_UCK-_7Dy-iMOcgbAN_of73xGy_jJI03fHPvlkHLlVY4Yq0KHKOOPMzefLKN0AfndO"
                    alt="love" height="10px" style="display: inline">
                    by Oleg Gorbatiuk
                </p>
              </columns>
            </row>
          </container>
          <!-- container -->
        </center>
      </td>
    </tr>
  </table>


</body>

</html>